/* .navbar{
    background: radial-gradient(253px at 12.6% 77.9%, rgb(221, 255, 214) 0.3%, rgb(214, 254, 254) 90.5%);

} */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');
.container{
    background: linear-gradient (45deg, #333232,blueviolet,rgb(56, 117, 223)) !important;
}



.main{
  overflow-x: hidden !important;
    overflow: hidden;
    min-height: 100vh !important;
    /* background: radial-gradient(circle at 4.3% 10.7%, rgb(138, 118, 249) 13.6%, rgb(75, 252, 235) 100.7%); */
    /* background: linear-gradient(104.3deg, rgb(253, 243, 243) 10.9%, rgb(248, 231, 231) 27.8%, rgb(160, 112, 161) 101.7%); */
    background: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
    /* background: radial-gradient(circle at 10% 20%, rgb(186, 190, 245) 0%, rgb(192, 192, 245) 33.1%, rgb(218, 203, 246) 90%); */
    font-family: 'Nanum Myeongjo', serif;
    
    
    
    /* background: linear-gradient(178deg, rgba(201, 234, 252, 0.51) 14.9%, rgba(139, 192, 216, 0.73) 80%); */
    /* background: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  ); */
  /* background: radial-gradient(849px at 0.9% 2.8%, rgb(255, 157, 255) 0%, rgb(255, 102, 142) 43.4%, rgb(255, 31, 56) 83.1%); */
  /* background: linear-gradient(112.5deg, rgb(95, 10, 135) 11.4%, rgb(164, 80, 139) 60.2%); */
  /* background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%); */

    /* background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%); */
}
*::-webkit-scrollbar {
  display: none !important;
}
.animate-charcter
{

    /* text-align: center;

    margin: auto;
   text-transform: uppercase; */
  /* background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 100px; */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.intro-siri{
  background-color: rgba(255,255,255, 0.1) !important;
  padding: 1.5rem;
  border-radius: 1rem;
  margin: 1.5rem;
  transition: all linear 0.5s;


}
.intro-siri:hover{
  scale: 1.02;
  box-shadow: white;
}

.card{
  --bs-card-bg:rgba(255,255,255, 0.2) !important;
}
.accordian{
  --bs-accordion-active-bg:rgba(255,255,255, 0.1) !important;
  --bs-accordion-bg:rgba(255,255,255, 0.2) !important
}
.handle-icon{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10rem;
  margin-right: 15rem;
}
.btn-margin-siri{
  margin: 1.5rem;
}
